<div class="row">
  <div class="col-md-4">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %></br>
    <%= render 'shared/textpost_form' %></br>
  </div>
  <div class="col-md-8">
	</br><%= render 'shared/feed' %>
  </div>
</div>