<div>
  <h1 class="text-center">Welcome to the Dance Network</h1>
  <p class="text-center text-muted">Made by <%= link_to "Dawnsoft Solutions", "http://www.dawnsoftsolutions.com", :target => "_blank" %></p>
  <h2 class="text-center"><%= image_tag "Break_dance.jpg" %></h2>
  <div class="row">
  	<div class="col-md-4"></div>
  	<div class="col-md-4">
  	  <div class="text-center panel panel-primary">
  	  <div class="panel-heading"><strong>Features</strong></div>
      <div class="panel-body">
        <strong>Posts</strong></br>
        <strong>Messages</strong></br>
        <strong>Activities</strong></br>
        <strong>Comments</strong></br>
        <strong>Likes</strong></br>
      </div></div>
  	  <div class="col-md-4"></div>
    </div>
  </div>
  <h3 class="text-center"><%= link_to "Sign up now!", new_user_registration_path %></h3>
</div>
