<li id="conversation">
  <p><span class="created_at"><%= conversation.created_at.strftime("%H:%M") %></span>
  <strong><%= conversation.from.username %></strong>: 
  <%= wrap(conversation.body) %></p>
</li>