<div class="media super_space">
  <div class="media-body">
    <h5 class="media-heading">
      <strong><%= link_to comment.user.first_name + " " + comment.user.last_name, user_root_path(comment.user) %></strong>
    </h5>
	<span><strong><%= wrap(comment.content) %></strong></span>
	<% if current_user?(comment.user) %>
	  <%= link_to "Delete", textpost_comment_path(comment.textpost, comment), method: :delete,
	    data: { confirm: "You sure?" },
        title: wrap(comment.content), id: "delete_comment" %>
	<% end %>
	Posted <%= time_ago_in_words(comment.created_at) %> ago.</br>
  </div>
</div>