<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <p><%= image_tag @user.avatar.url(:thumb) %></p>
      <h1><%= @user.username %></h1>
      <% if !@user.bio.blank? %>
      	<p><%= @user.bio %></p>
      <% end %>
      <% if !@user.city.blank? %>
      	<p><%= @user.city %></p>
      <% end %>
    </section>
  </aside>
</div>
