 <li><%= link_to activity.owner.username, user_root_path(activity.owner) %> added a comment to 
 	<%= link_to activity.trackable.textpost.content.truncate(30, separator: ' '), 
 	user_root_path(activity.recipient, :anchor => "textpost_#{activity.trackable.textpost.id}") %></li>