//navbar
$navbar-default-bg: #205081;
$navbar-default-link-color: white;
$navbar-default-link-hover-bg: scale-color($navbar-default-bg, $lightness: -50%);
$navbar-default-link-hover-color: white;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: scale-color($navbar-default-bg, $lightness: -50%);

//thumbnail
// $thumbnail-padding: 2px;
// $thumbnail-bg: #205081;
// $thumbnail-border: #205081;

//badge
$badge-color: #205081;
$badge-bg: white;

//link
$link-color: #205081;

//button
$btn-default-bg: #205081;
$btn-default-color: white;

//form 
$input-color: #205081;
$input-border: #205081;
$input-border-focus: #205081;

//list group
$list-group-border: #205081;

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

.container {
  min-height: 100%;
  overflow: hidden;
}

body {
  background-color: #f6f8f8;

}

.main {
  padding-top: 80px;
  background-color: white;
  border-right: 1px solid #E7E6E6;
  border-left: 1px solid #E7E6E6;
}

.text_space {
  margin: 0 15px 0 0;
}

.special_textarea {
  resize: vertical; 
  border-width: 3px;
}

.special_border {
  border-width: 3px;
}

.special_textarea2 {
  resize: vertical; 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-width: 3px;
  border-top-style: none;
}

.super_font {
  font-size: 150%;
}

.super_font2 {
  font-size: 250%;
}

.super_bold {
  font-weight: bold;
}

.round {
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}
.special_background {
  background-color: scale-color($navbar-default-bg, $lightness: 75%);
  color: black;
  border-width: 3px;
  border-color: #205081;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
}

.special_background_master {
  background-color: scale-color($navbar-default-bg, $lightness: 50%);
  border-width: 3px;
  border-color: #205081;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
}
.super_space {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#main-container {
    min-height: 100%;
    background: #fff;
}

// .navbar-default {
// 	background-color: #34495e;
// 	// #2c3e50  #5BC4BE #205081
// }
// scale-color(#E74C3C, $lightness: -50%);
// border-bottom: 1px solid #2e3d54;

// .list_background {
//  background-color: scale-color($navbar-default-bg, $lightness: 50%);
// }