<% provide(:title, 'Activities') %>

<h1><strong>Latest activities</strong></h1><br>

<% @activities.each do |activity| %>
  <% if activity.trackable %>
    <%= render_activity activity %>
  <% end %>
<% end %>